@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="welcome-text">
        Hoş Geldiniz...
        <div class="welcome-description">
            <h5>Burası sanal bir platformda gerçek sanatın gücünü keşfetmeniz için tasarlandı. Kendinizi evinizde hissedin ve sanat eserlerinin büyüleyici dünyasına adım atın.</h5>
            <div class="button-container">
                <a class="translucent-button" asp-controller="Home" asp-action="Nedir"><span>Daha Fazla Bilgi Al</span></a>
                <a class="translucent-button" asp-controller="Home" asp-action="UnityScene"><span>Başla!</span></a>
            </div>
        </div>
    </div>
    <img src="~/lib/images/wpp.jpg" class="renderbody">
</div>

