@{
    ViewData["Title"] = "Unity Scene";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="unity-container">
    <h2>Sergiyi gezmek için Unity alanındaki sağ alt köşedeki büyütme butonuna tıklayın.</h2>

    <iframe src="~/unity/index.html" style="width: 100%; height: 900px; border: none;"></iframe>
</div>






