@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Girişi</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: springgreen;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input[type="text"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: cadetblue;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: calc(100% - 20px);
            transition: background-color 0.3s ease;
        }

            input[type="submit"]:hover {
                background-color: #45a049;
            }

        label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        .register-link {
            display: block;
            text-align: center;
            margin-top: 10px;
            color: chocolate;
            text-decoration: none;
        }

            .register-link:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2>Kullanıcı Girişi</h2>
        <form action="#">
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" required>


            <a href="/Register/Index" class="register-link">Kayıt olun.</a>

            <input type="submit" value="Giriş Yap">
        </form>
    </div>
</body>
</html>


