@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="main-content animated-text">Hoş Geldiniz.<br /> Yapmak istediğiniz işlemi sol taraftan seçin.</h1>

